// vim:ft=scss
configuration {
	modi: "drun,run,ssh,window";
	font: "Noto Sans Regular 10";
	show-icons: true;
	terminal: "alacritty";
}

@import "themes/materia-slate.rasi"
@theme "themes/materia-slate.rasi"
